
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
p{
    font-size: 16px;
    font-family: poppins;
}
.flixebal-div{
display: flex;
margin: 50px;

}

.helf-width{
width: 50%;
padding: 50px;

}

.helf-width img {
    width: 80%;
}

/*Stay Focused  Section CSS*/
.div-top h1{
    font-size: 50px;
    font-family: Tahoma;
    padding-left: 20px;
    border-left:5px solid orange;
}

.div-top span{
    color:orange
}

.div-contain P{

    font-size: 16px;
    text-align: left;
    margin-bottom: 50px;
}

.btn{
background-image: linear-gradient(#F59560 ,#FBD062);
padding: 10px 15px 10px 15px;
color:white;
font-size: 15px;
text-decoration: none;
border-radius:10px ;
}


/* start mission section css*/
  

.my-mission-heading h1{
text-align: center;    
font-size: 50px;
font-weight:900;
font-family: Tahoma, sans-serif;
}
.my-mission h2{
font-size:30px;
font-weight: 900;
font-family: Tahoma;
}
.my-mission p{
    font-size:16px;
    font-weight:500;
    font-family: poppins;
    padding-bottom: 20px;
   
}
.my-mission-heading span{

color: orange;}

.icon{
width: 40%;
height:40%;
}
.mission-box{
    background-color:rgba(102, 190, 190, 0.199);
    padding: 10px;
    margin:15px;
    border-radius: 15px;
    
}

.vision-box{
    background-color:rgba(128, 136, 136, 0.199);
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}
.goal-box{
    background-color:rgba(243, 144, 144, 0.356);
    padding: 10px;
    margin:15px;
    border-radius:15px;
}

/*Closed mission Section*/


/*Developer sectionsCSS*/

.div-middle-content h1{
    font-size: 50px;
    font-family:Tahoma;
}



/*Know Global Section */
.div-bottom h1{
    font-size: 50px;
    font-family: Tahoma;
}

/*contact us*/
