
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
p{
    font-size: 16px;
    font-family: poppins;
}
.flixebal-div{
display: flex;
margin: 50px;

}

.helf-width{
width: 50%;
padding: 50px;

}

.helf-width img {
    width: 80%;
}

/*Stay Focused  Section CSS*/

.section-top{
background-image: url(images/shapes/shape-5.png);
background-repeat: no-repeat;
background-size: 120px;

}

.div-top-img{
    width:60%;
    height: 80%;
    box-shadow: -15px 10px 50px 5px hsla(0, 1%, 82%, 0.726);
    border-radius: 50px;
    margin-top: 70px;

}
.div-top h1{
    font-size: 50px;
    font-family: Tahoma;
    padding-left: 20px;
    border-left:5px solid orange;
}

.div-top span{
    color:orange
}

.div-contain P{

    font-size: 16px;
    text-align:justify;
    margin-bottom: 50px;
}

.btn{
background-image: linear-gradient(#F59560 ,#FBD062);
padding: 10px 15px 10px 15px;
color:white;
font-size: 15px;
text-decoration: none;
border-radius:10px ;
}


/* start mission section css*/

.my-mission-heading h1{
text-align: center;    
font-size: 50px;
font-weight:900;
font-family: Tahoma, sans-serif;
}
.my-mission h2{
font-size:30px;
font-weight: 900;
font-family: Tahoma;
}
.my-mission p{
    font-size:16px;
    font-weight:500;
    font-family: poppins;
    padding-bottom: 20px;
   
}
.my-mission-heading span{

color: orange;}

.icon{
width: 40%;
height:40%;
}
.mission-box{
    width:33%;
    background-color:rgba(102, 190, 190, 0.199);
    padding: 10px;
    margin:15px;
    border-radius: 15px;
    
}

.vision-box{
    width: 33%;
    background-color:rgba(128, 136, 136, 0.199);
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}
.goal-box{
    width:33%;
    background-color:rgba(243, 144, 144, 0.356);
    padding: 10px;
    margin:15px;
    border-radius:15px;
}

/*Closed mission Section*/


/*Full stack sections CSS*/
.middle{

    background-image: url(images/shapes/shape-5.png);
    background-repeat: no-repeat;
    background-size:120px;
    background-position: right;
    background-position-y:-0px;

    
}
.div-middle-content h1{
    font-size: 50px;
    font-family:Tahoma;
}
.div-middle-content span{
    color: orange;
}
.div-middle-img{

    width:40%;
    box-shadow: -20px 19px 80px -20px hsla(0, 0%, 43%, 0.438);
    border-radius: 50px;

}


/*closed*/


/*MERN stuck development*/
.div-bottom h1{
    font-size: 50px;
    font-family: Tahoma;
}

.div-bottom span{
    color: orange;


}
.bottm-img{

width:40%;
box-shadow: -20px 0px 80px -20px hsla(0, 0%, 43%, 0.438);
border-radius: 50px;

}

/*contact us*/
.div-contact h1{
padding-top: 50px;   
text-align: center;
font-size: 50px;
font-weight:900;
font-family: Tahoma, sans-serif;
}
.div-contact span{

    color:orange;
}
#contat-img{
width: 100%;
box-shadow: 20px 10px 50px -20px hsla(0, 0%, 43%, 0.438);
border-radius:50px;

}
.div-form input{
    padding: 20px;
    width: 100%;
    border:01px solid rgb(224, 218, 218)
}
.div-form textarea{
    padding: 20px;
    width: 100%;
    border:01px solid rgb(219, 216, 216)
}

#sub-btn{

background-image: linear-gradient(#F59560,#FBD062);
font-size: 20px;
font-weight: bold;
color:white;
}

.footer-div{
background-color: rgb(0, 0, 0);
color: white;
text-align: center;
font-family: cursive;
padding:5px;
}
.footer-div span {
 color:tomato;
 font-family:cursive
}

#copy{

    color: white;
    font-size: 12px;
}